@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

/* Texte */
.txt-white {
    color: white;
}

/* background */
.bg-black {
    background-color: #353434;
}

/* HERO - SECTION 1 */
.section-hero {
    background-image: url("asset/bg-image-hero.png"); /* image de fond*/
    height: 70vh; /* indique une hauteur de 70% de la hauteur de mon ecran*/
    background-repeat: no-repeat; /* ne pas répéter l'image de fond */
    background-size: cover; 
    background-position: center; /* position de l'image de fond */
}

